altair
asgiref
attrs
autopep8
blinker
boto3
botocore
cachetools
certifi
charset-normalizer
click
colorama
distlib
dj-database-url
Django>=4.2
django-crispy-forms
django-environ
django-filter
django-localflavor
django-mathfilters
django-storages
filelock
gitdb
GitPython
gunicorn
idna
importlib-metadata
Jinja2
jmespath
jsonschema
markdown-it-py
MarkupSafe
mdurl
numpy
packaging
pandas
Pillow
platformdirs
protobuf
psycopg2
psycopg2-binary
pyarrow
pycodestyle
pydeck
Pygments
Pympler
python-dateutil
python-decouple
python-stdnum
pytz
pytz-deprecation-shim
referencing
requests
rich
rpds-py
s3transfer
six
smmap
sqlparse
streamlit
tenacity
toml
toolz
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
virtualenv
watchdog
whitenoise
zipp
